@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html.dark body,
html body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
