@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

html.dark body,
html body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in;
}
